# T.O.M. Requirements

# MLX for Apple Silicon model inference
mlx
mlx-lm

# CLI framework
prompt-toolkit
rich

# System/process monitoring
psutil

# QT if using the launcher version
# If you only want the CLI, you can omit this dependency
PySide6